<div class="alertbox" draggable="true">
    <div class="top">
        <div class="xbtn">X</div>
    </div>
    <hr>
    <div class="updates">
        <div class="role">
            <div>
                12'
            </div>
            <div>
                <span>Chelsea </span> <span> 0 </span>-<span> 1</span> <span> Juventus</span>
            </div>
            <div>
                Ronaldo
            </div>
            <div>
                <i class="fas fa-futbol"> </i>
            </div>
        </div>
        <hr>
        <div class="role">
            <div>
                12'
            </div>
            <div>
                <span>Real Madrid </span> <span> 0 </span>-<span> 1</span> <span> Barcelona</span>
            </div>
            <div>
                Messi
            </div>
            <div>
                <i class="fas fa-futbol"> </i>
            </div>
        </div>
        <hr>
        <div class="role">
            <div>
                12'
            </div>
            <div>
                <span>Athletico bilbao </span> <span> 0 </span>-<span> 1</span> <span> Bayern Munich</span>
            </div>
            <div>
                Robben
            </div>
            <div>
                <i class="fas fa-futbol"> </i>
            </div>
        </div>
    </div>
</div>