<div style="background: rgb(0, 0, 0);">
    <header>
        <div class="overlay"></div>
        <div class="brand-logo">
            <a href="/" class="logo">Enaland <span class="red-text">Live Score</span>
                <!-- <i class="fas fa-futbol blinker"></i> -->
            </a>
        </div>
    </header>


    <div class="threeSectionalLayout">
        <!-- ads -->
        <div>
            <!-- jumia -->
            <a href="https://c.jumia.io/?a=187290&c=1614&p=r&E=kkYNyk2M4sk%3D&utm_campaign=187290&utm_term="><img
                    src="https://affiliates.jumia.com/banners/rGoREzEWea8iKdV4eCFhVOWHfPcw3droVehv7HWQ.jpeg" /></a>

            <a href="https://c.jumia.io/?a=187290&c=874&p=r&E=kkYNyk2M4sk%3D&utm_campaign=187290&utm_term="><img
                    src="https://affiliates.jumia.com/banners/Jumia Nigeria/PhonesTablets/NewSmartPhone 300x600 (1).jpg" /></a>
        </div>
        <!-- center column -->
        <main>
            <div class="ads">
                <script data-cfasync='false' type='text/javascript'
                    src='//p376133.clksite.com/adServe/banners?tid=376133_738030_1'></script>
            </div>
            <div class="table">
                <div class="league-role">
                    <!-- <div class="title">
                        <h2>England - Championship</h2>
                        <hr>
                    </div> -->
                    <div class="matches" id="matches1">
                        <div class="loader">
                            <div class="box1"></div>
                            <div class="box2"></div>
                            <div class="box3"></div>
                        </div>
                        <div class="loader-message">
                            <h3>Loading...</h3>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- ads section -->
        <section class="ads-section">
            <hr>
            <h1 style="color:#fff">Sports <span style="color: red;">News</span></h1>

            <div id="newsSlide">

            </div>

            <!-- ads -->
            <div>
                <script data-cfasync='false' type='text/javascript'
                    src='//p376133.clksite.com/adServe/banners?tid=376133_738030_0'></script>
            </div>
            <hr>

            <hr>
        </section>
        <script>
            // setInterval(() => window.location.reload(), 30000)
        </script>
    </div>
</div>


<script src="/assets/js/ui.js"></script>
<script src="/assets/js/ui2.js"></script>
<script src="/assets/js/index.js" type="module"></script>
<script>

</script>