<div style="background: rgb(0, 0, 0);">
    <header>
        <div class="overlay"></div>
        <div class="brand-logo">
            <a href="/" class="logo">Enaland <span class="red-text">Live Score</span>
                <!-- <i class="fas fa-futbol blinker"></i> -->
            </a>
        </div>
    </header>


    <div class="threeSectionalLayout">
        <!-- center column -->
        <main>
            <!-- ads -->
            <div>
                <iframe scrolling='no' frameBorder='0'
                    style='padding:0px; margin:0 10px; border:0px;border-style:none;border-style:none;' width='320'
                    height='50'
                    src="https://wlbet9ja.adsrv.eacdn.com/I.ashx?btag=a_150622b_702c_&affid=7595&siteid=150622&adid=702&c="></iframe>
                <iframe scrolling='no' frameBorder='0'
                    style='padding:0px; margin:0 10px; border:0px;border-style:none;border-style:none;' width='320'
                    height='50'
                    src="https://wlbet9ja.adsrv.eacdn.com/I.ashx?btag=a_150622b_700c_&affid=7595&siteid=150622&adid=700&c="></iframe>
            </div>
            <div class="table">
                <div class="league-role">
                    <!-- <div class="title">
                        <h2>England - Championship</h2>
                        <hr>
                    </div> -->
                    <div class="matches" id="matches1">
                        <div class="loader">
                            <div class="box1"></div>
                            <div class="box2"></div>
                            <div class="box3"></div>
                        </div>
                        <div class="loader-message">
                            <h3>Loading...</h3>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- ads section -->
        <section class="ads-section">
            <hr>

            <div id="newsSlide">
                <!-- ADS -->
                <div>
                    <iframe scrolling='no' frameBorder='0'
                        style='padding:0px; margin:0px; border:0px;border-style:none;border-style:none;' width='320'
                        height='50'
                        src="https://wlbet9ja.adsrv.eacdn.com/I.ashx?btag=a_150622b_701c_&affid=7595&siteid=150622&adid=701&c="></iframe>
                    <script type='text/javascript'
                        src="https://wlbet9ja.adsrv.eacdn.com/S.ashx?btag=a_150622b_700c_&affid=7595&siteid=150622&adid=700&c="></script>
                    <iframe scrolling='no' frameBorder='0'
                        style='padding:0px; margin:0px; border:0px;border-style:none;border-style:none;' width='320'
                        height='480'
                        src="https://wlbet9ja.adsrv.eacdn.com/I.ashx?btag=a_150622b_46c_&affid=7595&siteid=150622&adid=46&c="></iframe>
                </div>
            </div>

            <hr>

            <hr>
        </section>
    </div>
</div>

<script src="/assets/js/index.js" type="module"></script>
<script>

</script>