<div style="background: rgb(0, 0, 0);">
    <header>
        <div class="overlay"></div>
        <div class="brand-logo">
            <a href="/" class="logo">Enaland <span class="red-text">Live Score</span>
                <!-- <i class="fas fa-futbol blinker"></i> -->
            </a>
        </div>
    </header>


    <div class="threeSectionalLayout">
        <!-- center column -->
        <main>
            <div class="ads">
                <!-- <iframe id="ads" src="//dc5k8fg5ioc8s.cloudfront.net/br?gfkcd=822043" width="600" height="200"
                    scrolling="yes" frameborder="0"
                    sandbox="allow-same-origin allow-scripts allow-popups allow-top-navigation"></iframe> -->
            </div>
            <div class="table">
                <div class="league-role">
                    <!-- <div class="title">
                        <h2>England - Championship</h2>
                        <hr>
                    </div> -->
                    <div class="matches" id="matches1">
                        <div class="loader">
                            <div class="box1"></div>
                            <div class="box2"></div>
                            <div class="box3"></div>
                        </div>
                        <div class="loader-message">
                            <h3>Loading...</h3>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- ads section -->
        <section class="ads-section">
            <hr>
            <h1 style="color:#fff">Sports <span style="color: red;">News</span></h1>

            <div id="newsSlide">

            </div>
            <hr>

            <hr>
        </section>
        <script>
            // setInterval(() => window.location.reload(), 30000)
        </script>
    </div>
</div>


<script src="/assets/js/ui.js"></script>
<script src="/assets/js/ui2.js"></script>
<script src="/assets/js/index.js" type="module"></script>
<script>

</script>