<header>
    <nav>
        <div class="brand-logo">
            <a href="/" class="logo">Enaland <span class="red-text">Live Score</span>
                <i class="fas fa-futbol blinker"></i>
            </a>
        </div>
</header>


<div class="threeSectionalLayout">
    <!-- side bar -->
    <div class="sidebar">
        <ul>
            <li><span class="circle-dot active"><i class="fas fa-dot-circle"></i></span> <a href="#"
                    class="active">Home</a>
            </li>
            <li><span class="circle-dot"><i class="fas fa-dot-circle"></i></span> <a href="#" class="active">Live</a>
            </li>
            <% countries.forEach(c => { %>
            <li><span class="circle-dot"><i class="fas fa-dot-circle"></i></span> <a href="#"
                    class="active"><%= c.country_name %></a>
            </li>
            <% }) %>
        </ul>
    </div>

    <!-- center column -->
    <main class="event-details">
        <div class="table">
            <div class="league-role">
                <!-- <div class="title">
                        <h2>England - Championship</h2>
                        <hr>
                    </div> -->
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>November 14</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>
                                <span class="timer"></span>
                                78
                            </td>
                            <td>Uzbekistan</td>
                            <td>2-1</td>
                            <td>Saudi Arabia</td>
                        </tbody>

                        <thead>
                            <tr>
                                <th>Match Details:</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>
                                <span class="timer"></span>
                                16
                            </td>
                            <td>Eldor Shomurodov <i class="fas fa-futbol"></i></td>
                            <td>2-1</td>
                        </tbody>

                        <thead>
                            <tr>
                                <th>Formations</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>
                                [4-3-3]
                            </td>
                            <td></td>
                            <td></td>
                            <td>[4-4-2</td>
                        </tbody>

                        <thead>
                            <tr>
                                <th>Line ups:</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>

                            </td>
                            <td>
                                <ul>
                                    <li>Ronaldo</li>
                                </ul>
                            </td>
                            <td></td>
                            <td>
                                <ul>
                                    <li>Messi</li>
                                </ul>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <!-- ads section -->
    <section class="ads-section">
        <h4>Free Bet Codes</h4>
        <hr>
        <ul class="betcodes">
            <li>z3fhsr</li>
            <li>z3fhsr</li>
            <li>z3fhsr</li>
        </ul>
        <hr>
        <h1>Ads</h1>
    </section>

</div>