.league-name{
    color: #000;
}

.dark{
    color: rgba(211, 211, 211, 0.603);
}

.home > *{
    text-align: right;
}

.away > * {
    text-align: left;
}

.game-time{
    background: rgb(5, 46, 87);
    color: #fff !important;
}

.score-wrap2{
    background:rgb(5, 46, 87);
    margin: 0 .5em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    word-wrap: none;
}

.event-info{

    position: relative;
    width: 100%;
}

.event-info span{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.ref-card{
    widows: 1.4rem;
    height: 1.6rem;
}

.free-games {
    padding: 1rem;
    margin: 1rem .4rem;
    background: rgb(21, 80, 82);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.free-games h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation-name: blinks;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-direction: alternate;
    opacity: 0;
    animation-iteration-count: infinite;
    color: rgb(253, 240, 186);
}


.free-games .dot{
    padding: 5px;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background: rgb(253, 240, 186);
    display: inline-block;
}


.free-games ul{
    list-style: none;
}

@keyframes blinks {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}