.league-name{
    color: yellow;
}

.dark{
    color: rgba(211, 211, 211, 0.603);
}

.home > *{
    text-align: right;
}

.away > * {
    text-align: left;
}

.game-time{
    background: #000;
}

.score-wrap2{
    background: #000;
    margin: 0 .5em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
