*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    font-size: .9rem !important;
}

body{
    background: rgb(14, 172, 184);
}

.yellow{
    color: rgb(248, 125, 9) !important;
    font-size: .8rem !important;
    font-weight: lighter;
}

.gf{
    /* color: rgb(246, 246, 245); */
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: .9rem !important;
    font-family: 'Roboto' sans-serif!important;
    font-weight: lighter;
}


body{
    background: rgb(255, 254, 254);
    height: 100vh;
}

h1,h2,h3,h4{
    text-transform: uppercase;
    color: #000;
}


header{
    width: 100%;
    min-height: 3rem;
    text-align: center;
    background: url(../../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;

}
.overlay{
    background: rgba(0, 0, 0, 0.864);
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}
.brand-logo{
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: .4rem;
    z-index: 1;
}

.brand-logo a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.blinker{
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
    animation-duration: 1s;
}

.blinker2{
    animation-name: blink2;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    /* animation-direction: alternate; */
    animation-duration: .7s;
}

sup{
    width: .3rem;
    height: .3rem;
    padding: .3rem;
    display: inline-block;
    border-radius: 50%;
    background: red;
}

.table h2{
    text-align: center;
    font-size: 1rem;
    /* color: #fff; */
}

.match{
    color: #000 !important;
    display: grid;
    padding: 0;
    grid-template-columns: 20% 15% 18% 10% 18%;
    border-radius: 10px;
    font-size: .8rem;
    margin: 1rem auto !important;
}
.match:nth-child(odd){
    background: rgb(219, 218, 218);
    /* background: rgb(9, 97, 185); */
    color: rgb(7, 7, 7) !important;
    margin: 0 auto;
}
.match:nth-child(even){
    /* background: rgb(0, 0, 0); */
    background: rgb(255, 255, 255);
    margin: 0 auto;
}

.match .event-info{
    color:#fff;
    font-weight: bold;
}

.match a{
    color: rgb(255, 255, 255);
}

.title{
    width: 100%;
    margin: .5rem auto;
}

.match > * {
    text-align: center;
}

.league-role{
    padding:0 1rem;
    min-height: 100vh;
    color: #000;
    /* overflow-y: auto; */
}


/* sectional layout */
.threeSectionalLayout{
    display: grid;
    grid-template-columns: 80% 20%;
}

.threeSectionalLayout ul a .active{
    color: #fff;
}


/* ads section */
.threeSectionalLayout .ads-section{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    color: #fff;
    padding: 10px;
}

.betcodes{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 7px;
}

.betcodes h4{
    text-align: center;
}

.betcodes li{
    margin-bottom: 1rem;
    color: #fff;
    font-size: .7rem;
    text-align: center;
}

/* event detais */
.event-details{
    color: #fff;
}

.event-details table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.event-details table thead{
    border: 2px solid #000;
    background: rgb(143, 137, 137);
}

/* footer */

footer{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-style: 1.3rem;
    color: #fff;
}

@keyframes blink2 {
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }

}


@keyframes blink{
    0%, 100% {
        color: green;
    }
    40%{
        color: yellow;
    }
    60%{
        color: red;
    }
}

@media screen and (max-width: 1000px){
    #ads{
        width: 400px;
        height: 150px;
    }
    .match > div{
        font-size: 23px;
    }
    .threeSectionalLayout{
        display: flex !important;
        flex-direction: column !important;
    }

    *{
        font-size: .8rem !important;
    }

    .match{
        grid-template-columns: 10% 15% 18% 20% 18%;

    }
    .score-wrap2{
        border-radius: 0px !important;
    }


}

#searchTeam{
    height: 2rem;
}