*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
}


.yellow{
    color: rgb(200, 200, 24);
}



body{
    background: rgb(243, 240, 240);
    height: 100vh;
}

h1,h2,h3,h4{
    text-transform: uppercase;
    color: #000;
}


header{
    width: 100%;
    min-height: 3rem;
    text-align: center;
    background: url(../../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;

}
.overlay{
    background: rgba(0, 0, 0, 0.864);
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}
.brand-logo{
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: .4rem;
    z-index: 1;
}

.brand-logo a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.blinker{
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
    animation-duration: 1s;
}

.blinker2{
    animation-name: blink2;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    /* animation-direction: alternate; */
    animation-duration: .7s;
}

sup{
    width: .3rem;
    height: .3rem;
    padding: .3rem;
    display: inline-block;
    border-radius: 50%;
    background: red;
}

.table h2{
    text-align: center;
    /* color: #fff; */
    /* margin: 10px auto; */
    font-size: 1rem;
    color: #fff;
}

.match{
    color: #fff;
    display: grid;
    grid-template-columns: 5% 15% 35% 20% 35%;
    margin: auto;
    padding:10px;
    border-radius: 10px;
    font-size: .8rem;
    margin: 0;
}
.match:nth-child(odd){
    /* background: rgb(0, 0, 0); */
    background: rgb(26, 18, 75);
    margin: 4px auto;
}
.match:nth-child(even){
    /* background: rgb(0, 0, 0); */
    background: rgb(19, 64, 70);
    margin: 4px auto;
}

.match .event-info{
    color:#fff;
    font-weight: bold;
}

.match a{
    color: #fff;
}

.title{
    width: 100%;
    margin: .5rem auto;
}

.match > * {
    text-align: center;
}

.league-role{
    padding: 2rem 1rem;
    /* background: rgb(30, 44, 47); */
    /* background: #fff; */
    max-height: 100vh;
    overflow-y: auto;
}


/* sectional layout */
.threeSectionalLayout{
    display: grid;
    grid-template-columns: 80% 20%;
}

.threeSectionalLayout ul a .active{
    color: #fff;
}


/* ads section */
.threeSectionalLayout .ads-section{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    color: #fff;
    padding: 10px;
}

.betcodes{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 7px;
}

.betcodes h4{
    text-align: center;
}

.betcodes li{
    margin-bottom: 1rem;
    color: #fff;
    font-size: .7rem;
    text-align: center;
}

/* event detais */
.event-details{
    color: #fff;
}

.event-details table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.event-details table thead{
    border: 2px solid #000;
    background: rgb(143, 137, 137);
}

/* footer */

footer{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-style: 1.3rem;
    color: #fff;
}

@keyframes blink2 {
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }

}


@keyframes blink{
    0%, 100% {
        color: green;
    }
    40%{
        color: yellow;
    }
    60%{
        color: red;
    }
}

@media screen and (max-width: 168px){
    #ads{
        width: 400px;
        height: 150px;
    }
    .match > div{
        font-size: 23px;
    }
}